h1.hit-the-floor(style="color: #fff; font-size: 12em;font-weight: bold;font-family: Helvetica;text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);text-align: center;") 404 Not Found 

button.back-button(
    style="background-color: #4CAF50; border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;border-radius: 12px;box-shadow: 0 4px 6px rgba(0,0,0,.2);transition: background-color 0.3s ease, box-shadow 0.3s ease;"
    onclick="history.back()"
) Trở lại